<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413788721994-9q1ki1ti3vfvb3d0ej2o2o53q7t1m7sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413788721994-9q1ki1ti3vfvb3d0ej2o2o53q7t1m7sq</string>
	<key>API_KEY</key>
	<string>AIzaSyC2KJ1jfKo0vGcNct4j6AeKweC9XQwXTn0</string>
	<key>GCM_SENDER_ID</key>
	<string>413788721994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bozki.burclar</string>
	<key>PROJECT_ID</key>
	<string>burclar-bozki-fire</string>
	<key>STORAGE_BUCKET</key>
	<string>burclar-bozki-fire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413788721994:ios:8a82742783871b1944e7b3</string>
</dict>
</plist>